body {
  font-family: "Varela Round", sans-serif;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}


#navbar1 {
  background-color: #333;
  position: sticky;
  z-index: 10; /*stay on top of all */
  top: 0;
  width: 100%;
  transition: top 1s;
}

.jumbotron {
  position: relative;
  overflow: hidden;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.jumbotron-background {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

img.blur {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  object-fit: fill;
}

.gallery .col-md-4 {
  margin-bottom: 2rem;
}
.gallery .card {
  padding: 0px;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  transition: 0.15s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  margin: 0.1rem;
}
.gallery .card:hover {
  transform: translateY(-10px) scale(1.02);
}

body {
  background-color: #fafafa;
}

.section-header h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  animation-name: h2Ani;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.section-header h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: #3dd07d;
  left: 50%;
  transform: translateX(-50%);
  animation-name: h2Underline;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#sticky-footer {
  flex-shrink: none;
}
@keyframes h2Underline {
  0% {
    background: rgb(255, 136, 0);
    width: 18rem;
  }
  50% {
    background: rgb(0, 255, 13);
    width: 1px;
  }
  100% {
    background: rgb(0, 110, 255);
    width: 18rem;
  }
}
@keyframes h2Ani {
  0% {
    color: rgb(0, 110, 255);
  }
  50% {
    color: black;
  }
  100% {
    color: rgb(111, 0, 255);
  }
}
