:root {
  --main-padding: 500px;
}
#test {
  width: 100px;
  height: var(--main-padding);
  background-color: red;
}
body {
  position: relative;
}

#list-example {
  position: fixed;
 
}
.scrollspy-example{
  position: relative;
}